// fonts
$font-Gilroy: "Gilroy", sans-serif;
// fonts

// colors
$color-white: #FFFFFF;
$color-grey: #D9D9D9;
$color-grey-2: #DEDEDE;
$color-grey-3: #AFAFAF;
$color-grey-4: #E6E6E6;
$color-dark: #040404;
$color-red: #FF1E1E;
// colors
